<!-- Navbar start -->
<div class="container-fluid fixed-top">
    <div class="container topbar success-navbar d-none d-lg-block">
        <div class="d-flex justify-content-between">
            <div class="top-info ps-2">
                <small class="me-3"><i class="fas fa-map-marker-alt me-2 header-fa-icons"></i> <a
                        style="font-size: 17px;" href="#" class="text-white">123 Street, New York</a></small>
                <small class="me-3"><i class="fas fa-envelope me-2 header-fa-icons "></i><a style="font-size: 17px;"
                        href="#" class="text-white">Email@Example.com</a></small>
            </div>
            <div class="top-link pe-2">
                <a style="font-size: 17px;" href="#" class="text-white"><small class="text-white mx-2">Privacy
                        Policy</small>/</a>
                <a style="font-size: 17px;" href="#" class="text-white"><small class="text-white mx-2">Terms of
                        Use</small>/</a>
                <a style="font-size: 17px;" href="#" class="text-white"><small class="text-white ms-2">Sales and
                        Refunds</small></a>
            </div>
        </div>
    </div>
    <div class="container px-0">
        <nav class="navbar navbar-light bg-white navbar-expand-xl">
            <a href="index.html" class="navbar-brand">
                <h1 class=" display-6">Fruitables</h1>
            </a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
                <span class="fa fa-bars "></span>
            </button>
            <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                <div class="navbar-nav mx-auto small-screen-navbar-items">
                    <a routerLink = "/home" href="index.html" class="nav-item nav-link active">Home</a>
                    <a data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation" routerLink = "/shop" href="shop.html" class="nav-item nav-link">Shop</a>
                    <a data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation" routerLink = "/shopDetails" href="shop-detail.html" class="nav-item nav-link">Shop Detail</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu m-0 bg-secondary rounded-0">
                            <a routerLink = "/cart" data-bs-toggle="collapse"
                            data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                            aria-label="Toggle navigation" href="cart.html" class="dropdown-item">Cart</a>
                            <a routerLink = "/checkOut" data-bs-toggle="collapse"
                            data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                            aria-label="Toggle navigation" href="chackout.html" class="dropdown-item">Chackout</a>
                            <a href="#" class="dropdown-item">Testimonial</a>
                            <a href="#" class="dropdown-item">404 Page</a>
                        </div>
                    </div>
                    <a data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation" routerLink = "/contactUs" href="contact.html" class="nav-item nav-link">Contact</a>
                   
                    <div *ngIf="isLoggedIn()" class="profile-and-logout-hide">
                        <a data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                        aria-label="Toggle navigation" routerLink = "/profile" href="#" class="nav-item nav-link">Profile</a>
                        <a  class="nav-item nav-link" href="#" (click)="logout()">Logout</a>
    
                    </div>


                </div>


                <div class="navbar-nav mx-auto large-screen-navbar-items">
                    <a routerLink = "/home" href="index.html" class="nav-item nav-link active">Home</a>
                    <a routerLink = "/shop" href="shop.html" class="nav-item nav-link">Shop</a>
                    <a routerLink = "/shopDetails" href="shop-detail.html" class="nav-item nav-link">Shop Detail</a>
                    <div class="nav-item dropdown">
                        <div class="dropdown custom-dropdown">
                            <button class="dropdown-toggle custom-dropdown-toggle" type="button" id="dropdownMenuButton" aria-expanded="false">
                                Pages
                            </button>
                            <div class="dropdown-menu custom-dropdown-menu bg-secondary rounded-0" aria-labelledby="dropdownMenuButton">
                                <a routerLink="/cart" href="cart.html" class="dropdown-item">Cart</a>
                                <a routerLink="/checkOut" href="checkOut.html" class="dropdown-item">Checkout</a>
                                <a href="#" class="dropdown-item">Testimonial</a>
                                <a href="#" class="dropdown-item">404 Page</a>
                            </div>
                        </div>
                        
                    </div>
                    <a routerLink = "/contactUs" href="contact.html" class="nav-item nav-link">Contact</a>
                    
                    <div *ngIf="isLoggedIn()" class="profile-and-logout-hide">
                        <a routerLink="/profile" href="#" class="nav-item nav-link">Profile</a>
                        <a class="nav-item nav-link" href="#" (click)="logout()">Logout</a>
                    </div>
                </div>
                

               

                <!-- <div class="d-flex m-3 me-0">
                    <button
                        class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4 secondary"
                        data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search "></i></button>
                    <a  routerLink = "/cart" href="#" class="position-relative me-4 my-auto">
                        <i class="fa fa-shopping-bag fa-2x"></i>
                        <span
                            class="position-absolute bgOrange rounded-circle d-flex align-items-center justify-content-center notification px-1"
                            style="top: -5px; left: 15px; height: 20px; min-width: 20px;">3</span>
                    </a>
                    <a routerLink="/login" href="#" class="my-auto">
                        <i class="fas  fa-user fa-2x"></i>
                    </a>
                </div> -->

                <div class="d-flex m-3 me-0 user-dropdown" *ngIf="isLoggedIn()">
                    <button class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4 secondary"
                        data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search "></i></button>
                    <a routerLink="/cart" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation" href="#" class="position-relative me-4 my-auto">
                        <i class="fa fa-shopping-bag fa-2x"></i>
                        <span class="position-absolute bgOrange rounded-circle d-flex align-items-center justify-content-center notification px-1"
                            style="top: -5px; left: 15px; height: 20px; min-width: 20px;">3</span>
                    </a>
                    <a  href="#" class="my-auto dropdown-toggle hide" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user fa-2x"></i>
                    </a>
                    <ul  class="dropdown-menu  dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a routerLink = "/profile" class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#" (click)="logout()">Logout</a></li>
                    </ul>
                </div>
                <div class="d-flex m-3 me-0" *ngIf="!isLoggedIn()">
                    <button
                        class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4 secondary"
                        data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search "></i></button>
                    <a routerLink="/cart" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation" href="#" class="position-relative me-4 my-auto">
                        <i class="fa fa-shopping-bag fa-2x"></i>
                        <span class="position-absolute bgOrange rounded-circle d-flex align-items-center justify-content-center notification px-1"
                            style="top: -5px; left: 15px; height: 20px; min-width: 20px;">3</span>
                    </a>
                    <a data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation" href="#" routerLink="/login" href="#" class="my-auto">
                        <i class="fas  fa-user fa-2x"></i>
                    </a>
                </div>
                
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->