.btn:not(.active) {
    background-color: rgb(234, 232, 232) !important; /* Transparent grey */
}


.btn:not(.active).bgOrange {
    background-color: #FFB524 !important;
    color: white !important;
}



@media (max-width: 992px) {
    .media-query-for-categories-buttons button {
      margin-top: 10px; /* Adjust this value as needed */
    }
  }
  