<!-- <input type="text" class="form-control borderOrange w-25" placeholder="Search products" [(ngModel)]="searchQuery" (input)="onSearch()"> -->

<div class="container-fluid fruite py-5">
  <div class="container py-5">
    <div class="tab-class text-center">
      <div class="row g-4">
        <!-- Input field for search -->
        <div class="col-lg-4 col-md-12 col-sm-12 text-end">
          <input style="border: 1px solid #FFB524;" type="text" class="form-control mb-3" placeholder="Search products..." [(ngModel)]="searchTerm" (input)="searchProducts()">
        </div>
        
         <div class="col-lg-12 text-start">
          <h1>Our Products</h1>
        </div>
        <!-- Buttons for different categories -->
       
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-end">
              <div class="media-query-for-categories-buttons">
                <button class="btn bgOrange rounded-pill mx-2" [ngClass]="{'bgOrange': activeCategory === 'All'}" (click)="filterProductsByCategory('All')">All</button>
                <button class="btn rounded-pill mx-2" [ngClass]="{'bgOrange': activeCategory === 'Smartphones'}" (click)="filterProductsByCategory('Smartphones')">Smartphones</button>
                <button class="btn rounded-pill mx-2" [ngClass]="{'bgOrange': activeCategory === 'Laptops'}" (click)="filterProductsByCategory('Laptops')">Laptops</button>
                <button class="btn rounded-pill mx-2" [ngClass]="{'bgOrange': activeCategory === 'Fragrances'}" (click)="filterProductsByCategory('Fragrances')">Fragrances</button>
                <button class="btn rounded-pill mx-2" [ngClass]="{'bgOrange': activeCategory === 'Skincare'}" (click)="filterProductsByCategory('Skincare')">Skincare</button>
                <button class="btn rounded-pill mx-2" [ngClass]="{'bgOrange': activeCategory === 'Groceries'}" (click)="filterProductsByCategory('Groceries')">Groceries</button>
                <button class="btn rounded-pill mx-2" [ngClass]="{'bgOrange': activeCategory === 'home-decoration'}" (click)="filterProductsByCategory('home-decoration')">Home Decoration</button>
              </div>
            </div>
          </div>
        </div>
        
      
        
      </div>
      <div class="tab-content mt-5">
        <!-- Display filtered products -->
        <div id="tab-1" class="tab-pane fade show p-0 active">
          <div class="row g-4">
            <div class="col-lg-12">
              <div class="row g-4">
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex justify-content-center" *ngFor="let product of filteredProducts">
                  <!-- Product card HTML -->
                  <div class="fruite-item borderOrange">
                    <div class="position-relative">
                      <div class="fruite-img">
                        <img  [src]="product.thumbnail" class="img-fluid rounded-top product-image" alt="">
                      </div>
                      <div class="text-white bgOrange px-3 py-1 rounded position-absolute top-0 start-0">{{ product.category }}</div>
                    </div>
                    <div class="mt-3"><p class="text-dark fs-5 fw-bold mb-0">{{ product.title }}</p> </div>
                    <div class="p-4 border-secondary border-top-0 rounded-bottom">
                      <h4 class="textOrange">{{ product.description.slice(0,50)  }}</h4>
                      <div class="d-flex justify-content-between flex-lg-wrap mt-2">
                        <p class="text-dark fs-5 fw-bold mb-0">{{ product.price | currency }}</p>
                        <a routerLink = "/dummyAddToCart" href="#" class="p-2 fw-bold btn-cart borderOrange rounded-pill px-3 textSuccess"><i class="fa fa-shopping-bag me-2 textSuccess"></i> Add to cart</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  




   <!-- Featurs Start -->
   <div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="row g-4 justify-content-center">
            <div class="col-md-6 col-lg-4">
                <a href="#">
                    <div class="service-item bgGreyDark rounded border border-secondary">
                        <img src="https://img.freepik.com/free-photo/strawberry-berry-levitating-white-background_485709-57.jpg?t=st=1712073957~exp=1712077557~hmac=e2ec7192531ca637a0e7e7da3e872d87e9d543fc97303b6b728465473858342d&w=740" class="img-fluid rounded-top w-100" alt="">
                        <div class="px-4 rounded-bottom">
                            <div class="service-content bg-white text-center p-4 rounded">
                                <h3 class="textColorGreen">Fresh Apples</h3>
                                <h3 class="mb-0 greyDarkText">20% OFF</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a href="#">
                    <div class="service-item bgOrange rounded border border-dark">
                        <img src="https://img.freepik.com/premium-photo/ripe-pineapple-isolated-white_489827-582.jpg?w=360" class="img-fluid rounded-top w-100" alt="">
                        <div class="px-4 rounded-bottom">
                            <div class="service-content bgGreen text-center p-4 rounded">
                                <h5 class="text-white">Tasty Fruits</h5>
                                <h3 class="mb-0 greyDarkText">Free delivery</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a href="#">
                    <div class="service-item bgGreen rounded border border-primary">
                        <img src="https://images5.alphacoders.com/408/408046.jpg" class="img-fluid rounded-top w-100" alt="">
                        <div class="px-4 rounded-bottom">
                            <div class="service-content bg-secondary text-center p-4 rounded">
                                <h5 class="text-white">Exotic Vegitable</h5>
                                <h3 class="mb-0 greyDarkText">Discount 30$</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Featurs End -->
