<!-- banner start -->

<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Testimonial</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a style="color: #81C408;" href="#">Home</a></li>
        <li class="breadcrumb-item"><a  style="color: #81C408;" href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Testimonial</li>
    </ol>
</div>

<!-- Banner end -->



    <!-- Tastimonial Start -->
    <div class="container-fluid testimonial py-5">
        <div class="container py-5">
            <div class="testimonial-header text-center">
                <h4 class="">Our Testimonial</h4>
                <h1 class="display-5 mb-5 text-dark">Our Client Saying!</h1>
            </div>
            
                <div class="testimonial-item img-border-radius bg-light rounded p-4">
                    <div class="position-relative">
                        <i class="fa fa-quote-right fa-2x  position-absolute" style="bottom: 30px; right: 0;color: #FFB524;"></i>
                        <div class="mb-4 pb-4 border-bottom border-secondary">
                            <p class="mb-0 fw-light">Lorem Ipsum is simply dummy text of the printing Ipsum has been the industry's standard dummy text ever since the 1500s,
                            </p>
                        </div>
                        <div class="d-flex align-items-center flex-nowrap">
                            <div class="bg-secondary rounded">
                                <img src="https://tse4.mm.bing.net/th?id=OIP.Wwkj6mz7ZUkF8pBMY7UvIwHaHa&pid=Api&P=0&h=220" class="rounded" style="width: 100px; height: 100px;" alt="">
                            </div>
                            <div class="ms-4 d-block">
                                <h4 class="text-dark">Client Name</h4>
                                <p class="m-0 pb-3">Profession</p>
                                <div style="color: #81C408;" class="d-flex pe-5">
                                    <i style="color: #81C408;" class="fas fa-star "></i>
                                    <i style="color: #81C408;" class="fas fa-star "></i>
                                    <i style="color: #81C408;" class="fas fa-star "></i>
                                    <i style="color: #81C408;" class="fas fa-star "></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="testimonial-item img-border-radius bg-light rounded p-4 mt-4">
                    <div class="position-relative">
                        <i class="fa fa-quote-right fa-2x  position-absolute" style="bottom: 30px; right: 0;color: #FFB524;"></i>
                        <div class="mb-4 pb-4 border-bottom border-secondary">
                            <p class="mb-0 fw-light">Lorem Ipsum is simply dummy text of the printing Ipsum has been the industry's standard dummy text ever since the 1500s,
                            </p>
                        </div>
                        <div class="d-flex align-items-center flex-nowrap">
                            <div class="bg-secondary rounded">
                                <img src="https://tse4.mm.bing.net/th?id=OIP.Wwkj6mz7ZUkF8pBMY7UvIwHaHa&pid=Api&P=0&h=220" class="rounded" style="width: 100px; height: 100px;" alt="">
                            </div>
                            <div class="ms-4 d-block">
                                <h4 class="text-dark">Client Name</h4>
                                <p class="m-0 pb-3">Profession</p>
                                <div style="color: #81C408;" class="d-flex pe-5">
                                    <i style="color: #81C408;" class="fas fa-star "></i>
                                    <i style="color: #81C408;" class="fas fa-star "></i>
                                    <i style="color: #81C408;" class="fas fa-star "></i>
                                    <i style="color: #81C408;" class="fas fa-star "></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>






                <div class="testimonial-item img-border-radius bg-light rounded p-4 mt-4">
                    <div class="position-relative">
                        <i class="fa fa-quote-right fa-2x  position-absolute" style="bottom: 30px; right: 0;color: #FFB524;"></i>
                        <div class="mb-4 pb-4 border-bottom border-secondary">
                            <p class="mb-0 fw-light">Lorem Ipsum is simply dummy text of the printing Ipsum has been the industry's standard dummy text ever since the 1500s,
                            </p>
                        </div>
                        <div class="d-flex align-items-center flex-nowrap">
                            <div class="bg-secondary rounded">
                                <img src="https://tse4.mm.bing.net/th?id=OIP.Wwkj6mz7ZUkF8pBMY7UvIwHaHa&pid=Api&P=0&h=220" class="rounded" style="width: 100px; height: 100px;" alt="">
                            </div>
                            <div class="ms-4 d-block">
                                <h4 class="text-dark">Client Name</h4>
                                <p class="m-0 pb-3">Profession</p>
                                <div style="color: #81C408;" class="d-flex pe-5">
                                    <i style="color: #81C408;" class="fas fa-star "></i>
                                    <i style="color: #81C408;" class="fas fa-star "></i>
                                    <i style="color: #81C408;" class="fas fa-star "></i>
                                    <i style="color: #81C408;" class="fas fa-star "></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                
                
               
            
        </div>
    </div>
    <!-- Tastimonial End -->