
<!-- Hero Start -->
<div class="container-fluid py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-md-12 col-lg-7">
                <h4 class="mb-3">100% Organic Foods</h4>
                <h1 class="mb-5 display-3 ">Organic Veggies & Fruits Foods</h1>
                <div class="position-relative mx-auto">
                    <input class="form-control border-2 border-secondary w-75 py-3 px-4 rounded-pill" type="number" placeholder="Search">
                    <button type="submit" class="btn  border-2 border-secondary py-3 px-4 position-absolute rounded-pill text-white h-100" style="top: 0; right: 25%;">Submit Now</button>
                </div>
            </div>
            <div class="col-md-12 col-lg-5">
                <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active rounded">
                            <img style="height: 400px;" src="https://tse3.mm.bing.net/th?id=OIP.GWsdNM8kqn3mZfXgr0b3qAHaGb&pid=Api&P=0&h=220" class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide">
                        </div>
                        <div class="carousel-item rounded">
                            <img style="height: 400px;" src="https://tse1.mm.bing.net/th?id=OIP.zvfaLpU0D0Nu4eBaB9dPOAHaGF&pid=Api&P=0&h=220" class="img-fluid w-100 h-100 rounded" alt="Second slide">
                        </div>
                    </div>
                    <button style="position: absolute;margin: 40%;margin-left: 0px;" class="carousel-control-prev bg-dark" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                       
                    </button>
                    <button style="position: absolute;margin: 40%;margin-right: 0px;" class="carousel-control-next bg-dark" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        
                    </button>
                </div>
            </div>
            
            
        </div>
    </div>
</div>
<!-- Hero End -->