<div class="portfolio" style="padding-top: 200px;">
    <div class="profile-pic">
        <img src="https://cdn.vectorstock.com/i/1000x1000/54/41/young-and-elegant-woman-avatar-profile-vector-9685441.webp">
    </div>
    <h1>Jeanne</h1>
    <p>Halvorson</p>
    
    <div class="social-links">
        <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://linkedin.com/in/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/" target="_blank"><i class="fab fa-github"></i></a>
    </div>
</div>
